.home-wrap {
  width: 100%;
  height: 1000px;
  background-color: #5383e8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo-box {
  width: 100%;
  height: 224px;

  margin: 56px 0 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-logo {
  color: white;
  font-size: 10rem;
  font-weight: 900;
}
.search-box {
  width: 800px;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 19%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.region-option {
  width: 234px;
  height: 40px;
  padding-left: 32px;
  padding-right: 8px;
  margin-right: 8px;
}

.input-box {
  width: 420px;
  height: 40px;
}
.search-btn {
  color: #5383e8;
  font-size: 25px;
  font-weight: 700;
  margin-right: 30px;
  cursor: pointer;
}
.label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 3px;
}
.selected-region {
  color: gray;
  font-size: 14px;
}
.line {
  border-left: solid 1px gray;
  height: 30px;
  opacity: 30%;
}
.search-input {
  width: 100%;
  border: 0px;
  outline: none;
  font-size: 14px;
}

.notice {
  font-size: 28px;
  color: white;
  margin-top: 15px;
}
.pro-container {
  margin-top: 40px;
  width: 800px;
  height: 464px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.pro-header {
  height: 50px;
  font-weight: 800;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #ebeef1;
}
.team-container {
  display: flex;
}
.team-left {
  width: 400px;
}
.team-right {
  width: 400px;

  border-left: 1px solid #ebeef1;
}
.team-header {
  width: 399px;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid #ebeef1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 40px 0px 40px;
  border-bottom: 1px solid #ebeef1;
  cursor: pointer;
}
.pro-nick {
  font-weight: 900;
  font-size: 30px;
  margin-left: 75px;
}
.pro-name {
  top: 9px;
  position: relative;
  font-weight: 200;
  left: 3px;
}
.t-one {
  width: 70px;
}
.geng {
  width: 40px;
}
