ul {
  padding: 0 0;
  margin: 0px;
}
li {
  list-style: none;
}

.alarm {
  left: 40%;
  top: 3rem;
  position: fixed;
  width: 300px;
  line-height: 50px;
  background-color: black;
  border-radius: 4px;
  color: white;
  text-align: center;
  z-index: 100;
}
.contents-header {
  background-color: white;
  width: 100%;
  height: 273-45px;
  padding-bottom: 25px;
  padding-top: 16px;
}
.contents-body {
  width: 100%;
  background-color: #ebeef1;
  min-height: 800px;
}
.contents-container {
  width: 1080px;
  margin: 0 auto;
  height: 800px;
}
.wrapper {
  width: 1080px;
  margin-bottom: 10px;
  display: flex;
  margin: 0 auto;
}
.info-list-tab {
  width: 100%;
  height: 45px;
  border-top: 1px solid;
  border-color: #ebeef1;
  padding: 4px 0;
  display: flex;
  align-items: center;
  background-color: white;
}
.info-list {
  display: flex;
  width: 1080px;
  margin: 0 auto;
}
.info-list > li {
  text-align: center;
}
.info-list > li > span {
  display: block;
  min-width: 60px;
  line-height: 36px;
  padding: 0 16px;
  margin-right: 4px;
  font-size: 14px;

  border-radius: 4px;
  cursor: pointer;
}
.info-list-item-blue {
  color: #4171d6;
  background-color: #ecf2ff;
  font-weight: bold;
}
.info-list-item-green {
  color: #00a399;
  font-weight: 500;
}
.profile-icon-container {
  width: 100px;
  height: 100px;
  display: block;
  margin-top: 52px;
}
.profile-icon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  z-index: -1;
}
.info {
  width: 541px;
  height: 202px;
  margin-left: 24px;
}
.tier-container {
  height: 32px;
}
.tier-container > ul {
  padding-left: 0px;
}
.tier-li {
  display: inline-block;
  list-style: none;
  padding: 0px 4px;
  min-width: 78.33px;
  max-width: 120px;
  line-height: 18px;
  background-color: #ebeef1;
  border-radius: 2px;
  text-align: center;
  margin-right: 4px;
}
.year {
  font-size: 11px;
  color: #9aa4af;
}
.tier {
  font-size: 11px;
  color: #9aa4af;
}

.name {
  height: 32px;
  font-size: 24px;
  font-weight: bold;
}
.refresh-button {
  color: white;
  border: 0px;
  border-radius: 4px;
  background-color: #5383e8;
  cursor: pointer;
  width: 80px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 50px;
}
.last-update {
  margin-top: 8px;
  color: gray;
  font-size: 12px;
}
.level {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: -11px;
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: #202d37;
  width: 36.22px;
  height: 20px;
  border-radius: 10px;
  font-weight: bold;
  line-height: 20px;
  z-index: 100;
}

.left-contents {
  display: inline-block;
  vertical-align: top;
  width: 332px;
  min-height: 870px;
  font-size: 12px;
}

.right-contents {
  display: inline-block;
  width: 740px;
  height: 1000px;
  margin-top: 8px;
  margin-left: 8px;
  vertical-align: top;
}

.current-rank-header {
  background-color: white;
  margin-top: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;
  line-height: 35px;
  padding: 0 12px;
  font-size: 14px;
}
.current-rank-container {
  margin-bottom: 8px;
}
.current-rank-contents {
  display: flex;
  align-items: center;
  padding: 12px;
  border-top: 1px solid;
  border-color: #ebeef1;
  width: 308px;
  height: 97px;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.current-tier-box {
  flex: 1 1 0%;
  position: relative;
  margin-left: 16px;
}
.current-rank-contents > :first-child {
  background-color: #f7f7f9;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-tier-img {
  width: 60px;
}
.current-tier {
  font-size: 20px;
  font-weight: bold;
}
.current-lp {
  line-height: 16px;
  margin-top: 2px;
  font-size: 12px;
  color: #758592;
}
.win-lose-container {
  font-size: 12px;
  color: #9aa4af;
}
.win-lose {
  line-height: 26px;
  color: #9aa4af;
}
.win-rate {
  margin-top: 2px;
  line-height: 16px;
}
.unranked {
  font-size: 14px;
  font-weight: bold;
  color: #c3cbd1;
}
.most-played {
  margin-top: 8px;
  background-color: white;
  border-radius: 4px;
}
.most-played-tab {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin: 0px;
  font-size: 14px;
  border-bottom: 1px solid;
  border-color: #ebeef1;
}
.most-played-tab-item {
  flex: 1;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  line-height: 28px;
}

.champion-box {
  display: table;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid;
  border-color: #ebeef1;
  color: #9aa4af;
  text-align: center;
  table-layout: fixed;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 8px;
  font-size: 12px;
  text-align: center;
  background-color: #f7f7f9;
  color: #758592;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.match-history-tab {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid;
  border-color: #ebeef1;
  background-color: white;
}
.match-history-tab > ul {
  display: flex;
  line-height: 28px;
  margin: 0px;
}
.match-history-tab-item {
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
}
.selected {
  font-weight: bold;
  display: block;
  border-radius: 4px;
  font-size: 14px;
  background: #ecf2ff;
  color: #4171d6;
  line-height: 28px;
}
.match-history-summary {
  display: flex;
  text-align: left;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 24px 21px;
  box-sizing: border-box;
  width: 740px;
  height: 164px;
  background-color: white;
}
.sum-stats {
  width: 222px;
}
.sum-win-lose {
  font-size: 12px;
  color: #758592;
}
.ratio-kda {
  display: flex;
  margin-top: 12px;
}
.sum-info {
  margin-left: 32px;
}
.sum-info > .k-d-a {
  font-size: 12px;
  letter-spacing: 0px;
}

.sum-info > .k-d-a > span {
  color: #758592;
}
.sum-ratio {
  margin-top: 2px;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #202d37;
}
.kill-participantion {
  line-height: 16px;
  margin-top: 2px;
  font-size: 12px;
  color: #d31a45;
}
.chart {
  position: relative;
  display: inline-block;
  width: 88px;
  height: 88px;
}
.text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  line-height: 88px;
  text-align: center;
  font-size: 14px;
  color: #5383e8;
}
.champions {
  width: 222px;
  margin-left: 16px;
}
.title {
  line-height: 16px;
  font-size: 12px;
  color: #758592;
}
.sum-li {
  height: 24px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.sum-li > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
.sum-li > .win-lose {
  font-size: 11px;
  position: relative;
}

.positions {
  width: 222px;
}
.match-history-container {
  margin-top: 8px;
}

.match {
  height: 96px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.game {
  width: 108px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: #758592;
}
.game-container {
  padding: 0px 8px 0px 12px;
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
}
.type {
  font-weight: bold;
  color: #4171d6;
}
.time-stamp {
  color: #758592;
}
.small-border {
  width: 48px;
  height: 1px;
  margin: 8px 0px 4px;
  background-color: #d5e3ff;
}
.result {
  font-weight: bold;
}
.length {
}

.win {
  background-color: #ecf2ff;
  border-radius: 4px;
  border-left-width: 6px;
  border-left-style: solid;
  border-color: #5383e8 !important;
}

.lose {
  background-color: #fff1f3;
  border-radius: 4px;
  border-left-width: 6px;
  border-left-style: solid;
  border-color: #e84057 !important;
}
.red {
  color: #d31a45 !important;
}
.sky {
  color: #0093ff;
}
.mint {
  color: #00bba3;
}
.orange {
  color: #f06f00;
}
.red-item {
  background-color: #ffbac3;
  border-radius: 4px;
}
.blue-item {
  background-color: #b3cdff;
  border-radius: 4px;
}

.game-info {
  width: 377px;
  height: 83px;
}
.top-row {
  display: flex;
  height: 53px;
}
.bottom-row {
  height: 22px;
  margin-top: 8px;
}
.champion {
  display: flex;
  align-items: center;
}
.icon-box > div {
  position: relative;
  width: 48px;
  height: 48px;
}
.icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.champion-level {
  position: relative;
  right: -29px;
  bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 11px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background: rgb(32, 45, 55);
}
.spell {
  width: 22px;
  height: 22px;
  margin-bottom: 2px;
  border-radius: 4px;
}
.spells {
  margin-left: 4px;
}
.runes {
  margin-left: 2px;
}
.rune-main {
  margin-bottom: 2px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.rune {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-bottom: 2px;
}
.kda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 107px;
  padding-right: 12px;
  margin-right: 8px;
  margin-left: 12px;
}
.k-d-a {
  line-height: 22px;
  font-size: 15px;
  color: #9aa4af;
  letter-spacing: 3px;
}
.k-d-a > span {
  color: #202d37;
  font-weight: bold;
}
.death {
  color: #d31a45 !important;
}
.ratio {
  line-height: 16px;
  color: #758592;
  font-size: 12px;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;
  color: #758592;
  font-size: 11px;
  border-left: 1px solid #c6c6c6;
  padding-left: 4px;
}
.p-kill {
  color: #d31a45;
}
.items {
  display: flex;
}
.item-box {
  width: 22px;
  height: 22px;
}
.items > ul {
  display: flex;
  margin: 0;
}
.items > ul > li {
  margin-left: 2px;
  width: 22px;
  height: 22px;
}
.item-box > img {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.ward-box {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 4px;
}
.ward-box > img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.participants {
  display: flex;
}
.participants > ul > li {
  display: flex;
  align-items: center;
  width: 88px;
  height: 18px;
  text-align: left;
  white-space: nowrap;
}
.part-icon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
.part-icon > img {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.part-name {
  display: inline-block;
  max-width: 60px;
  vertical-align: middle;
  color: #75859d;
}
.part-name > a {
  font-size: 12px;
  color: inherit;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.detail {
}
.detail-btn {
  width: 40px;
  height: 96px;
  border: 0px;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.red-btn {
  background-color: #ffd8d9;
}
.blue-btn {
  background-color: #d5e3ff;
}

.positions-ul {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}
.positions-ul > li > img {
  width: 16px;
  margin-top: 8px;
}
.bar {
  display: flex;
  align-items: flex-end;
  width: 16px;
  height: 64px;
  background-color: #dbe0e4;
}
.gauge {
  background-color: #5383e8;
  width: 16px;
}
.most-info {
  display: table-cell;
  width: 100px;
  text-align: left;
  vertical-align: middle;
  padding-left: 8px;
  box-sizing: border-box;
}
.cs {
  margin-top: 2px;
  font-size: 11px;
  white-space: nowrap;
}
.most-face {
  display: table-cell;
  width: 44px;
  text-align: right;
  vertical-align: middle;
}
.most-face > img {
  width: 32px;
  border-radius: 50%;
}
.most-name {
  color: #202d37;
  font-weight: bold;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.most-stats {
  display: table-cell;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}
.most-kda {
  font-weight: bold;
  font-size: 12px;
}
.most-k-d-a {
  font-size: 11px;
  margin-top: 2px;
}
.played {
  display: table-cell;
  width: 88px;
  padding-right: 0;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  margin-top: 8px;
  padding-right: 12px;
}
.most-winrate {
  text-align: right;
  font-size: 12px;
}
.most-gameqty {
  text-align: right;
  font-size: 11px;
  margin-top: 2px;
}
/*


*/
.fadein {
  animation: fadein 0.3s ease;
  -moz-animation: fadein 0.3s ease;
  /* Firefox */
  -webkit-animation: fadein 0.3s ease;
  /* Safari and Chrome */
  -o-animation: fadein 0.3s ease;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 10%;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
